%h2.title.is-4 Mieter bearbeiten
= form_for @mieter, url: {action: "update"}, :html => {:class => 'ui form'} do |f|
  .two.fields
    .field
      = f.label :vorname, class: 'label'
      = f.text_field :vorname, class: 'input', type: 'text'
    .field
      = f.label :name, class: 'label'
      = f.text_field :name, class: 'input', type: 'text'
  .two.fields
    .field
      = f.label :telefon, class: 'label'
      = f.text_field :telefon, class: 'input', type: 'tel'
    .field
      = f.label :email, class: 'label'
      = f.text_field :email, class: 'input', type: 'email'
  .two.fields
    .field
      = f.label :strasse, class: 'label'
      = f.text_field :strasse, class: 'input', type: 'text'
    .field
      = f.label :plz, class: 'label'
      = f.text_field :plz, class: 'input', type: 'text'
  .field
    = f.label :ort, class: 'label'
    = f.text_field :ort, class: 'input', type: 'text'
  .actions
    = f.submit 'Mieter anlegen', class: 'button ui green is-primary', type: 'submit'
