%h2 Mieter:
%table.table.ui
  %thead
    %tr
      %th #
      %th Vorname
      %th Name
      %th Telefon
      %th E-Mail
      %th Strasse
      %th PLZ
      %th Ort
      %th
      %th
  %tbody
    - @mieters.each do |mieter|
      %tr
        %td= mieter.id
        %td= mieter.vorname
        %td= mieter.name
        %td= mieter.telefon
        %td= mieter.email
        %td= mieter.strasse
        %td= mieter.plz
        %td= mieter.ort
        %td
          = link_to edit_mieter_path(mieter), :class => "popup",:"data-content" => "Bearbeiten" do
            %i.edit.outline.icon
        %td
          = link_to  mieter, method: :delete, :class => "popup", data: { confirm: 'Wirklich löschen?', content: "Löschen" }, style: "margin-left: 5px" do
            %i.trash.alternate.outline.icon
