%h1 Anfragen

%table.ui.table.anfrageTable

  %thead
    %tr
      %th Name
      %th E-Mail
      %th Telefon
      %th Pers. Anzahl
      %th Anfrage vom
      %th Datum
      %th Nachricht
      %th Antwort
      %th
      %th
      %th

  %tbody
    - @anfrages.each do |anfrage|
      %tr
        %td= anfrage.name
        %td= anfrage.email
        %td= anfrage.telefon
        %td= anfrage.anzahl
        %td= anfrage.created_at.strftime("%d.%m.%y")
        %td= "#{anfrage.startDate.strftime('%d.%m.%y')} - #{anfrage.endDate.strftime('%d.%m.%y')}"
        %td= anfrage.nachricht.present? ? anfrage.nachricht&.truncate(10) : "-"
        %td= check(anfrage.antwort)
        %td= link_to 'Zeigen', anfrage_path(anfrage)
        %td= link_to 'Bearbeiten', edit_anfrage_path(anfrage)
        %td= link_to 'Löschen', anfrage, method: :delete, data: { confirm: 'Are you sure?' }

%br

:javascript
  $(document).ready(function () {
    var mieterTable = $('.anfrageTable').DataTable({
      columnDefs: [
        {bSortable: false, targets: [8,9,10]} 
      ],
      "order": [[ 4, "asc" ]]
    });

    mieterTable.buttons().container().appendTo( $('div.nine.column:eq(0)', mieterTable.table().container()) );
    
    $('.ui.button', mieterTable.buttons().container()).addClass('basic')
  });