%h3 Login
= form_tag login_path, class: "ui form" do
  .field
    = label :user, :name
    = text_field :user, :name, class: 'form-control'
  .field
    = label :user, :password
    = password_field :user, :password, class: 'form-control'
  %br
  %br
  = submit_tag("Login", class: "ui button green basic")
