%h1 Öffnungszeiten

= link_to 'Neue Öffnungszeit', new_openhour_path, :class => "ui button green basic"

%table.ui.table
  %thead
    %tr
      %th Tag
      %th Start
      %th Ende
      %th Spezial
      %th Geschlossen
      %th ohne Uhrzeit
      %th Reihenfolge
      %th
      %th
      %th

  %tbody
    - @openhours.each do |openhour|
      %tr
        %td= openhour.tag
        %td= openhour.start.strftime("%H:%M")
        %td= openhour.ende.strftime("%H:%M")
        %td= check(openhour.spezial)
        %td= check(openhour.geschlossen)
        %td= check(openhour.without_time)
        %td= openhour.reihenfolge
        %td= link_to 'Zeigen', openhour
        %td= link_to 'Bearbeiten', edit_openhour_path(openhour)
        %td= link_to 'Löschen', openhour, method: :delete, data: { confirm: 'Are you sure?' }

%br
