%h1 Brotbestellscheine

= link_to 'Neuer Brotbestellschein', new_brotbestellschein_path, :class => 'button ui green basic'

%table.ui.table
  %thead
    %tr
      %th #
      %th Datum
      %th Versendet
      %th
      %th
      %th

  %tbody
    - @brotbestellscheins.each do |brotbestellschein|
      %tr
        %td= brotbestellschein.id
        %td= l(brotbestellschein.datum, format: '%a, %d.%m.%Y')
        %td= l(brotbestellschein.versendet, format: '%a, %d.%m.%Y - %H:%M Uhr') rescue '-'
        %td= link_to 'Zeigen', brotbestellschein
        %td= link_to 'Bearbeiten', edit_brotbestellschein_path(brotbestellschein)
        %td= link_to 'Löschen', brotbestellschein, method: :delete, data: { confirm: 'Are you sure?' }
