-# %p#notice= notice

%h3
  Datum:
  = l(@brotbestellschein.datum, format: '%A, %d.%m.%Y')

- if @brotbestellschein.versendet.nil?
  = link_to 'Bestellung absenden', {:controller => 'brotbestellscheins', :action => 'bestellemail', :id => @brotbestellschein.id}, :class => 'button ui green basic button'
- else
  %button.ui.disabled.button
    %i.checkmark.icon
    Versendet am:
    = l(@brotbestellschein.versendet, format: '%A, %d.%m.%Y, %H:%M Uhr')
%br
%br

.ui.grid
  .ten.wide.column
    %h3 Bestellpositionen

    %table.ui.table
      %thead
        %tr
          %th Brotsorte
          %th Menge
      %tbody
        - @brotbestellschein.brotbestellungs.collect(&:brotbestellposi).flatten.group_by(&:brotsorte).each do |sorte, posi|
          %tr
            %td= sorte.name
            %td= posi.collect(&:menge).sum

    %h3 Bestellungen

    %table.ui.table
      %thead
        %tr
          %th #
          %th Vorname
          %th Name
          %th
          %th
          %th

      %tbody
        - @brotbestellschein.brotbestellungs.each do |brotbestellung|
          %tr{class: [('warning' if brotbestellung.typ == "standard_auf_schein"), ('warning' if brotbestellung.typ == "zusatz")]}
            %td= brotbestellung.id
            %td= brotbestellung.vorname
            %td= brotbestellung.name
            %td= link_to 'Zeigen', brotbestellung
            - if !@brotbestellschein.versendet
              %td= link_to 'Bearbeiten', edit_brotbestellung_path(brotbestellung)
              %td= link_to 'Löschen', brotbestellung, method: :delete, data: { confirm: 'Sind Sie sicher?' }
            - else
              %td{:style => "color: #ddd"} Bearbeiten
              %td{:style => "color: #ddd"} Löschen
    -# = link_to 'Bearbeiten', edit_brotbestellschein_path(@brotbestellschein)
    = link_to 'Zurück', brotbestellungs_path


  .six.wide.column
    %h3 Positionen hinzufügen

    = form_for @brotbestellung, :url => { :action => "bst_auf_schein" , :id => @brotbestellschein }, :html => {:class => 'ui form', :method => "put" } do |f|
      = f.hidden_field :typ, value: 'zusatz'
      = f.hidden_field :name, value: 'ZUSATZ'
      - @brotsorten.each do |brotsorte|
        = f.fields_for :brotbestellposi, @brotbestellung.brotbestellposi do |posi|
          .ui.labeled.input.fluid{:style => 'margin-bottom: 1em', :class => [('disabled' if @brotbestellschein.versendet)] }
            .ui.label{:style => 'width: 50%'}
              = brotsorte.name
            = posi.number_field :menge, :value => 0
          = posi.hidden_field :brotsorte_id, value: brotsorte.id
      .actions
        = f.submit 'Hinzufügen', :class => [('ui button basic green'), ('disabled' if @brotbestellschein.versendet)]
