= form_for @brotsorte, :html => {:class => 'ui form', multipart: true } do |f|
  - if @brotsorte.errors.any?
    #error_explanation
      %h2= "#{pluralize(@brotsorte.errors.count, "error")} prohibited this brotsorte from being saved:"
      %ul
        - @brotsorte.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :name
    = f.text_field :name
  .field
    %label Kategorie
    = f.select :brottyp_id, options_from_collection_for_select(Brottyp.all, :id, :name, f.object.brottyp_id),{}, {class: 'ui dropdown'}
  .field
    .ui.checkbox
      = f.check_box :aktiv, :class => 'checkbox'
      = f.label :aktiv
  -# .field
    .ui.checkbox
      = f.check_box :ausverkauft, :class => 'checkbox'
      = f.label :ausverkauft
  .field
    = f.label :brotbild
    = f.file_field :brotbild

  .actions
    = link_to 'Zurück', brotsortes_path, :class  => 'ui button red basic'
    = f.submit 'Speichern', :class  => 'ui button green basic'