%h1 Brotsorten

%table.ui.table
  %thead
    %tr
      %th Name
      %th Aktiv
      %th Ausverkauft
      %th
      %th
      %th

  %tbody
    - @brotsortes.each do |brotsorte|
      %tr
        %td= brotsorte.name
        %td= brotsorte.aktiv
        %td= brotsorte.ausverkauft
        %td= link_to 'Anzeigen', brotsorte
        %td= link_to 'Bearbeiten', edit_brotsorte_path(brotsorte)
        %td= link_to 'Löschen', brotsorte, method: :delete, data: { confirm: 'Wirklich löschen?' }

%br

= link_to 'Neue Brotsorte', new_brotsorte_path, class: 'button ui green basic'
