%h1 Brotsorten

= link_to 'Neue Brotsorte', new_brotsorte_path, class: 'button ui green basic'
%table.ui.table
  %thead
    %tr
      %th Name
      %th Aktiv
      -# %th Ausverkauft
      %th
      %th
      %th

  %tbody
    - @brotsortes.group_by(&:brottyp).each do |key, group|
      %tr
        %td{:colspan => 6, :style => "background-color: #eee"}
          %strong
            = key.name rescue "-"
      - group.each do |brotsorte|
        %tr
          %td= brotsorte.name
          %td= check(brotsorte.aktiv)
          -# %td= check(brotsorte.ausverkauft)
          %td= link_to 'Anzeigen', brotsorte
          %td= link_to 'Bearbeiten', edit_brotsorte_path(brotsorte)
          %td= link_to 'Löschen', brotsorte, method: :delete, data: { confirm: 'Wirklich löschen?' }

%br
