-# %p#notice= notice

%p
  %b Name:
  = @brotsorte.name
%p
  %b Aktiv:
  = @brotsorte.aktiv
%p
  %b Ausverkauft:
  = @brotsorte.ausverkauft
%p
  %b Kategorie:
  = @brotsorte.brottyp.name

.ui.small.image
  = image_tag("/uploads/brotsorte_#{@brotsorte.id}.jpg")

%br

= link_to 'Bearbeiten', edit_brotsorte_path(@brotsorte)
\|
= link_to 'Zurück', brotsortes_path
