= form_for @brotbestellung, :html => {:class => 'ui form'} do |f|
  .ui.three.column.grid
    - if action_name == 'new'
      - @brotsorten.group_by(&:brottyp).each do |key, group|
        .column
          %h3
            = key.name
          - group.sort_by(&:name).each do |brotsorte|
            = f.fields_for :brotbestellposi, @brotbestellung.brotbestellposi do |posi|
              .ui.labeled.input.fluid{:style => 'margin-bottom: 1em'}
                .ui.label
                  = brotsorte.name
                = posi.number_field :menge, :value => 0, :min => 0
              = posi.hidden_field :brotsorte_id, value: brotsorte.id
    - if action_name == 'edit'
      %h3 Bestellpositionen:
      %table.ui.table
        %thead
          %tr
            %th #
            %th Brotsorte
            %th Menge
            %th
            %th
            %th

        %tbody
          - @brotbestellung.brotbestellposi.each do |posi|
            %tr
              %td= posi.id
              %td= posi.brotsorte.name
              %td= posi.menge
              %td= link_to 'Zeigen', posi
              %td= link_to 'Bearbeiten', edit_brotbestellposi_path(posi)
              %td= link_to 'Löschen', posi, method: :delete, data: { confirm: 'Sind Sie sicher?' }

  .ui.two.column.grid.segment{:style => "background-color: #edecb0"}
    .column
      - if @brotbestellung.errors.any?
        #error_explanation
          %h2= "#{pluralize(@brotbestellung.errors.count, "error")} prohibited this brotbestellung from being saved:"
          %ul
            - @brotbestellung.errors.full_messages.each do |message|
              %li= message

      .field
        = f.label :vorname
        = f.text_field :vorname

      .field
        = f.label :telefon
        = f.text_field :telefon

      .field
        = f.label :datum
        = f.select :datum, options_for_select(@date_result),{}, {class: 'ui dropdown'}

      .actions
        = link_to 'Abbrechen', brotbestellungs_path, :class => 'ui button basic red '
        = f.submit 'Bestellung abschicken', :class => 'ui button basic green  '

    .column
      .field
        = f.label :name
        = f.text_field :name
      .field
        = f.label :email
        = f.text_field :email

:javascript
  $('select.dropdown')
    .dropdown()
  ;
