%h1 Brotbestellungen

-# %table.ui.table
  %thead
    %tr
      %th #
      %th Vorname
      %th Name
      %th Telefon
      %th E-Mail
      %th Datum
      %th Bestellschein
      %th
      %th
      %th

  %tbody
    - @brotbestellungs.where.not(:name => "ADMIN").order(:datum, :name).each do |brotbestellung|
      %tr
        %td= brotbestellung.id
        %td= brotbestellung.vorname
        %td= brotbestellung.name
        %td= brotbestellung.telefon
        %td= brotbestellung.email
        %td= l(brotbestellung.datum, format: "%a, %d.%m.%Y")
        %td
          - if brotbestellung.brotbestellschein.present?
            = link_to brotbestellung.brotbestellschein do
              = brotbestellung.brotbestellschein.id
              - if brotbestellung.brotbestellschein.versendet.present?
                %i.checkmark.icon
          - else
            = "-"
        %td= link_to "Zeigen", brotbestellung
        %td= link_to "Bearbeiten", edit_brotbestellung_path(brotbestellung)
        %td= link_to "Löschen", brotbestellung, method: :delete, data: { confirm: "Sind Sie sicher?" }

%p
  = link_to "Neue Brotbestellung", admin_order_brotbestellungs_path, :class => "button ui green basic"
  = link_to "Standard", standard_path, :class => "button ui yellow basic"

%br

.bestellmenu{:style => "padding-bottom: 5rem"}
  .ui.secondary.pointing.menu
    %a.item.active{"data-tab" => "bst1woche"}
      Bestellungen 1 Woche
    %a.item{"data-tab" => "bst1monat"}
      Bestellungen 1 Monat
    %a.item{"data-tab" => "bstAlle"}
      Alle Bestellungen
    - if @brotbestellungs.where(:brotbestellschein => nil).where(:typ => "bestellung").where.not(:datum => nil).size > 0
      %a.item{"data-tab" => "offeneBst"}
        Offene Bestellungen
  .tab-content{:style => "padding-top: 1rem"}
    %div#bst1woche
      - @brotbestellungs.where(datum: (Date.current.to_time..(Date.current.to_time + 1.week)), typ: "bestellung").order(:datum).group_by(&:datum).each do |datum, brotbestellungs|
        %h3{:style => "display: inline-block;margin-right: 10px; margin-bottom: 0"}
          = l(datum, format: "%A, %d.%m.%Y")
        - if Brotbestellschein.where(datum: datum, versendet: nil).size > 0
          = link_to "Bestellen", Brotbestellschein.where(datum: datum, versendet: nil).first, :class => "ui button green mini"

        %table.ui.table
          %thead
            %tr
              %th{:style => "width: 30%"} Brotsorte
              %th Menge
          %tbody
            - brotbestellungs.collect(&:brotbestellposi).flatten.group_by(&:brotsorte).each do |sorte, posi|
              %tr
                %td= sorte.name
                %td= posi.collect(&:menge).sum
        %table.ui.table
          %thead
            %tr
              %th #
              %th Vorname
              %th Name
              %th Telefon
              %th E-Mail
              %th Datum
              %th Bestellschein
              %th
              %th
              %th

          %tbody
            - brotbestellungs.sort_by(&:name).each do |brotbestellung|
              %tr{:class => (brotbestellung.brotbestellschein.versendet.present? ? "positive" : "")}
                %td= brotbestellung.id
                %td= brotbestellung.vorname
                %td= brotbestellung.name
                %td= brotbestellung.telefon
                %td= brotbestellung.email
                %td= l(brotbestellung.datum, format: "%a, %d.%m.%Y")
                %td
                  - if brotbestellung.brotbestellschein.present?
                    = link_to brotbestellung.brotbestellschein do
                      = brotbestellung.brotbestellschein.id
                      - if brotbestellung.brotbestellschein.versendet.present?
                        %i.checkmark.icon
                  - else
                    = "-"
                %td= link_to "Zeigen", brotbestellung
                - if brotbestellung.brotbestellschein.versendet.present?
                  %td.disabled= "Bearbeiten"
                  %td.disabled= "Löschen"
                - else
                  %td= link_to "Bearbeiten", edit_brotbestellung_path(brotbestellung)
                  %td= link_to "Löschen", brotbestellung, method: :delete, data: { confirm: "Sind Sie sicher?" }
        .ui.hidden.divider
    %div#bst1monat
      - @brotbestellungs.where(datum: (Date.current.to_time..(Date.current.to_time + 1.month))).where(:typ => "bestellung").order(:datum).group_by(&:datum).each do |datum, brotbestellungs|
        %h3{:style => "display: inline-block;margin-right: 10px; margin-bottom: 0"}
          = l(datum, format: "%A, %d.%m.%Y")
        - if Brotbestellschein.where(datum: datum, versendet: nil).size > 0
          = link_to "Bestellen", Brotbestellschein.where(datum: datum, versendet: nil).first, :class => "ui button green mini"

        %table.ui.table
          %thead
            %tr
              %th{:style => "width: 30%"} Brotsorte
              %th Menge
          %tbody
            - brotbestellungs.collect(&:brotbestellposi).flatten.group_by(&:brotsorte).each do |sorte, posi|
              %tr
                %td= sorte.name
                %td= posi.collect(&:menge).sum
        %table.ui.table
          %thead
            %tr
              %th #
              %th Vorname
              %th Name
              %th Telefon
              %th E-Mail
              %th Datum
              %th Bestellschein
              %th
              %th
              %th

          %tbody
            - brotbestellungs.sort_by(&:name).each do |brotbestellung|
              %tr{:class => (brotbestellung.brotbestellschein.versendet.present? ? "positive" : "")}
                %td= brotbestellung.id
                %td= brotbestellung.vorname
                %td= brotbestellung.name
                %td= brotbestellung.telefon
                %td= brotbestellung.email
                %td= l(brotbestellung.datum, format: "%a, %d.%m.%Y")
                %td
                  - if brotbestellung.brotbestellschein.present?
                    = link_to brotbestellung.brotbestellschein do
                      = brotbestellung.brotbestellschein.id
                      - if brotbestellung.brotbestellschein.versendet.present?
                        %i.checkmark.icon
                  - else
                    = "-"
                %td= link_to "Zeigen", brotbestellung
                - if brotbestellung.brotbestellschein.versendet.present?
                  %td.disabled= "Bearbeiten"
                  %td.disabled= "Löschen"
                - else
                  %td= link_to "Bearbeiten", edit_brotbestellung_path(brotbestellung)
                  %td= link_to "Löschen", brotbestellung, method: :delete, data: { confirm: "Sind Sie sicher?" }
        .ui.hidden.divider
    %div#bstAlle
      - @brotbestellungs.where(:typ => "bestellung").order(:datum).group_by(&:datum).each do |datum, brotbestellungs|
        %h3{:style => "display: inline-block;margin-right: 10px; margin-bottom: 0"}
          = l(datum, format: "%A, %d.%m.%Y")
        - if Brotbestellschein.where(datum: datum, versendet: nil).size > 0
          = link_to "Bestellen", Brotbestellschein.where(datum: datum, versendet: nil).first, :class => "ui button green mini"

        %table.ui.table
          %thead
            %tr
              %th{:style => "width: 30%"} Brotsorte
              %th Menge
          %tbody
            - brotbestellungs.collect(&:brotbestellposi).flatten.group_by(&:brotsorte).each do |sorte, posi|
              %tr
                %td= sorte.name
                %td= posi.collect(&:menge).sum
        %table.ui.table
          %thead
            %tr
              %th #
              %th Vorname
              %th Name
              %th Telefon
              %th E-Mail
              %th Datum
              %th Bestellschein
              %th
              %th
              %th

          %tbody
            - brotbestellungs.sort_by(&:name).each do |brotbestellung|
              %tr{:class => (brotbestellung.brotbestellschein.versendet.present? ? "positive" : "")}
                %td= brotbestellung.id
                %td= brotbestellung.vorname
                %td= brotbestellung.name
                %td= brotbestellung.telefon
                %td= brotbestellung.email
                %td= l(brotbestellung.datum, format: "%a, %d.%m.%Y")
                %td
                  - if brotbestellung.brotbestellschein.present?
                    = link_to brotbestellung.brotbestellschein do
                      = brotbestellung.brotbestellschein.id
                      - if brotbestellung.brotbestellschein.versendet.present?
                        %i.checkmark.icon
                  - else
                    = "-"
                %td= link_to "Zeigen", brotbestellung
                - if brotbestellung.brotbestellschein.versendet.present?
                  %td.disabled= "Bearbeiten"
                  %td.disabled= "Löschen"
                - else
                  %td= link_to "Bearbeiten", edit_brotbestellung_path(brotbestellung)
                  %td= link_to "Löschen", brotbestellung, method: :delete, data: { confirm: "Sind Sie sicher?" }
        .ui.hidden.divider
    %div#offeneBst
      - @brotbestellungs.where(:brotbestellschein => nil).where(:typ => "bestellung").where.not(:datum => nil).order(:datum).group_by(&:datum).each do |datum, brotbestellungs|
        %h3{:style => "display: inline-block;margin-right: 10px; margin-bottom: 0"}
          = l(datum, format: "%A, %d.%m.%Y")
        = link_to "Alle offenen Bestellungen auf Brotbestellschein verteilen", {:controller => "brotbestellscheins", :action => "schein_aus_bst", :datum => datum}, :class => "ui button green mini"

        %table.ui.table
          %thead
            %tr
              %th{:style => "width: 30%"} Brotsorte
              %th Menge
          %tbody
            - brotbestellungs.collect(&:brotbestellposi).flatten.group_by(&:brotsorte).each do |sorte, posi|
              %tr
                %td= sorte.name
                %td= posi.collect(&:menge).sum
        %table.ui.table
          %thead
            %tr
              %th #
              %th Vorname
              %th Name
              %th Telefon
              %th E-Mail
              %th Datum
              %th Bestellschein
              %th
              %th
              %th

          %tbody
            - brotbestellungs.sort_by(&:name).each do |brotbestellung|
              %tr
                %td= brotbestellung.id
                %td= brotbestellung.vorname
                %td= brotbestellung.name
                %td= brotbestellung.telefon
                %td= brotbestellung.email
                %td= l(brotbestellung.datum, format: "%a, %d.%m.%Y")
                %td
                  - if brotbestellung.brotbestellschein.present?
                    = link_to brotbestellung.brotbestellschein do
                      = brotbestellung.brotbestellschein.id
                      - if brotbestellung.brotbestellschein.versendet.present?
                        %i.checkmark.icon
                  - else
                    = "-"
                %td= link_to "Zeigen", brotbestellung
                %td= link_to "Bearbeiten", edit_brotbestellung_path(brotbestellung)
                %td= link_to "Löschen", brotbestellung, method: :delete, data: { confirm: "Sind Sie sicher?" }


:javascript
  $( document ).ready(function() {

    $("#" + $(".bestellmenu a.active").attr("data-tab")).show().siblings().hide();

    $(".bestellmenu .menu a").on("click", function(e)  {
        var currentAttrValue = $(this).attr("data-tab");

        $("#" + currentAttrValue).show().siblings().hide();

        $(this)
          .addClass("active")
          .siblings()
          .removeClass("active");

        e.preventDefault();
    });



  });
