= form_for @booking, url: booking_path, method: :put, :html => {:class => 'ui form'} do |f|
  -# - if @brottyp.errors.any?
    #error_explanation
      %h2= "#{pluralize(@brottyp.errors.count, "error")} prohibited this brottyp from being saved:"
      %ul
        - @brottyp.errors.full_messages.each do |message|
          %li= message

  .field
    %label Fewo
    = select_tag :fewo_id, options_from_collection_for_select(Fewo.all, :id, :id), {class: 'ui dropdown'}
  .field
    %label.label Mieter
    = select_tag :mieter_id, options_from_collection_for_select(Mieter.all, :id, :name_with_initial, @booking.booker.id), {class: 'ui dropdown'}
  .field
    %label.label Anzahl Pers.
    = select_tag :capacity, options_for_select([["Auswählen...", ""],"0", "1", "2", "3", "4", "5", "6"], @booking.amount), {class: 'ui dropdown'}
  .field
    %label.label Typ
    = select_tag :typ, options_for_select([["Auswählen...", ""], ["Standard", "std"], ["Airbnb", "airbnb"], ["Blocker","block"]], @booking.typ), {class: 'ui dropdown'}
  .field
    %label.label Notiz
    = text_area_tag :notiz, @booking.notiz, rows: 2
  .field
    %label
    .two.fields
      .field
        %label.label Check-In:
        .control
          .ui.calendar.check_in
            .ui.input.left.icon
              %i.calendar.icon
              = text_field_tag :check_in, @booking.time_start,class: 'input', :autocomplete => "off"

      .field
        %label.label Check-Out:
        .control
          .ui.calendar.check_out
            .ui.input.left.icon
              %i.calendar.icon
              = text_field_tag :check_out,@booking.time_end,class: 'input', :autocomplete => "off"

  .actions
    = f.submit 'Speichern', :class => "ui button basic green"
