= form_tag({controller: "bookings", action: "create"}, method: "post", class: "ui form") do
  %h4.ui.dividing.header Neue Reservierung anlegen
  .field
    %label Fewo
    = select_tag :fewo_id, options_from_collection_for_select(Fewo.all, :id, :id), {class: 'ui dropdown'}
  .field
    %label.label Mieter
    = select_tag :mieter_id, options_from_collection_for_select(Mieter.all, :id, :name_with_initial), {class: 'ui dropdown'}
  .field
    %label.label Anzahl Pers.
    = select_tag :capacity, options_for_select([["Auswählen...", ""], "1", "2", "3", "4", "5", "6"]), {class: 'ui dropdown'}
  .field
    %label.label Typ
    = select_tag :typ, options_for_select([["Auswählen...", ""], ["Standard", "std"], ["Airbnb", "airbnb"], ["Blocker","block"]]), {class: 'ui dropdown'}
  .field
    %label
    .two.fields
      .field
        %label.label Check-In:
        .control
          .ui.calendar.check_in
            .ui.input.left.icon
              %i.calendar.icon
              = text_field_tag :check_in,'',class: 'input', :autocomplete => "off"

      .field
        %label.label Check-Out:
        .control
          .ui.calendar.check_out
            .ui.input.left.icon
              %i.calendar.icon
              = text_field_tag :check_out,'',class: 'input', :autocomplete => "off"
    .field
      .control
        = submit_tag 'Buchungen anlegen', class: 'button ui green'
