= form_tag({controller: "bookings", action: "create"}, method: "post", class: "ui form") do
  %h4.ui.dividing.header Neue Reservierung anlegen
  .field
    %label Fewo
    = select_tag :fewo_id, options_from_collection_for_select(Fewo.all, :id, :id), {class: 'ui dropdown'}
  .field
    %label.label Mieter
    = select_tag :mieter_id, options_from_collection_for_select(Mieter.all, :id, :name_with_initial), {class: 'ui dropdown'}
  .field
    %label.label Anzahl Pers.
    = select_tag :capacity, options_for_select([["Auswählen...", ""], "1", "2", "3", "4", "5", "6"]), {class: 'ui dropdown'}
  .field
    %label
    .two.fields
      .field
        %label.label Check-In:
        .control
          .ui.calendar.check_in
            .ui.input.left.icon
              %i.calendar.icon
              = text_field_tag :check_in,'',class: 'input'

      .field
        %label.label Check-Out:
        .control
          .ui.calendar.check_out
            .ui.input.left.icon
              %i.calendar.icon
              = text_field_tag :check_out,'',class: 'input'
    .field
      .control
        = submit_tag 'Reservierungen anlegen', class: 'button ui blue'

:javascript

  $( document ).ready(function() {

    $('.ui.dropdown').dropdown();

    // UI calendar
    var text = {
        days: ['S', 'M', 'D', 'M', 'D', 'F', 'S'],
        months: ['Januar', 'Februar', 'März', 'April', 'Mai', 'Juni', 'Juli', 'August', 'September', 'Oktober', 'November', 'Dezember'],
        monthsShort: ['Jan', 'Feb', 'Mar', 'Apr', 'Mai', 'Jun', 'Jul', 'Aug', 'Sep', 'Okt', 'Nov', 'Dez'],
        today: 'Heute',
        now: 'Jetzt'
      }
    var formatter = {
        date: function (date, settings) {
          let momentDate = new moment(date)
          return momentDate.format('DD.MM.YYYY')
        }
    }
    $('.check_in').calendar({
      type: 'date',
      formatter: formatter,
      firstDayOfWeek: 1,
      endCalendar: $('.check_out'),
      text: text
    });
    $('.check_out').calendar({
      type: 'date',
      formatter: formatter,
      firstDayOfWeek: 1,
      startCalendar: $('.check_in'),
      text: text
    });


  });
