%h3 Registrieren
= form_for @user, url: '/users', :html => {:class => 'ui form'} do |f|
  - if @user.errors.any?
    #error_explanation
      - @user.errors.full_messages.each do |msg|
        %div.ui.message.red
          = msg
  .field
    = f.label :name
    = f.text_field :name, :class => 'form-control'
  .field
    = f.label :email
    = f.text_field :email, :class => 'form-control'
  .field
    = f.label :password
    = f.password_field :password, :class => 'form-control'
  .field
    = f.label :password_confirmation
    = f.password_field :password_confirmation, :class => 'form-control'
  = f.submit "Registrieren", :class => 'ui button basic green'
