.row.first-section.roomy-40.max-width.mx-lg-5.mx-md-2
  .col-xl-9.col-lg-12.my-md-4
    %h1= @hello
    %h1= @hello
    %h1= @hello
    %h1= @hello
    %h1= @hello
    %h1= @hello
    %h1= @hello
    %h1= @hello
    %h1= @hello
