.row
  .col-md-12.roomy-100.roomy-md.no-gutter
    %h1.text-yellow.text-center.too-long Ferienwohnung
    .divider-center
    .img-holder.roomy-50
      .img-item.border-bottom.fw-gallery-item{:style => "background-image: url(#{image_path("home/fewo/fewo2.jpg") })"}
      .img-item.border-bottom.fw-gallery-item{:style => "background-image: url(#{image_path("home/fewo/fewo15.jpg") })"}
      .img-item.border-bottom.fw-gallery-item{:style => "background-image: url(#{image_path("home/fewo/fewo14.jpg") })"}
    %div.text-center.col-md-9{:style => "margin: auto"}
      %p.text-left-md
        Ferien mitten im Grünen und weit ab von Verkehrschaos und der alltäglichen Hektik. Gemütlich Wandern, Radfahren oder die Sehenswürdigkeiten im Weserbergland erkunden. Die Ferienwohnung ist der perfekte Ausgangspunkt.
      %p.text-left-md
        In dem mit Liebe restaurierten Pfarrwitwenhaus gleich am Hofeingang befindet sich die Wohnung. Das gesamte Häuschen inkl. Hofladen wurde 2007 vollkommen kernsaniert und nach Denkmalschutzvorgaben wieder aufgebaut – die dabei verwendeten Baustoffe Lehm, Holz und Biofarben schaffen eine ganz besondere Atmosphäre. Die Wohnung verteilt sich über zwei Etagen (1. OG + Dachgeschoss). Im Erdgeschoss befindet sich der Hofladen – gesunde Verpflegung somit garantiert.
      %p.btn.btn-primary.my-5.anfrage-button{:href => "/", "data-target" => "#anfrage", "data-toggle" => "modal"}
        %i.fa.fa-angle-double-right{"aria-hidden" => "true"}
        Ferienwohnung anfragen
.row
  .col-md-6.bg-yellow2.m-top-80{:style => "padding: 3rem 5%;"}
    %h2 Info
    %ul.bullet-list{:style => "margin-bottom: 0; font-weight: 300"}
      %li.item Die Wohnung: 1. OG + ausgebauter Dachgeschoss
      %li.item freundliche Wohnküche, mit großem Esstisch und gemütlicher Wohnzimmerecke (inkl. Schlafcouch für 2 Personen)
      %li.item Schlafzimmer mit Doppelbett
      %li.item Bad mit Badewanne und Doppelwaschbecken
      %li.item Flur mit Garderobe und Stauraum für Koffer
      %li.item Der gesamte Dachboden ist zu einem großen Raum ausgebaut, mit zwei einzelnen Betten und viel Platz zum Spielen.
      %li.item Zur Ferienwohnung gehört ein kleiner Garten mit Sitzplatz und Unterstellplatz für Fahrräder.

  .col-md-6.bg-yellow2.m-top-80{:style => "padding: 3rem 5%"}
    %h2 Kosten & Reservierung
    %ul{:style => 'font-weight: 300;margin-bottom: 3em; list-style-type: none'}
      %li.item Wir bitten vorab um Verständnis, dass wir die Ferienwohnung erst ab zwei Übernachtungen für Gäste zur Verfügung stellen.
      %li.item Da die Ferienwohnung über zwei Etagen verteilt ist, kann auch nur das 1. OG gemietet werden.
      %li.item
        %strong
          Grundpreis sind 49,- € pro Tag für 2 Personen,
          %br
          jede weitere Person 7 €, einmalig 22,- €
      %li.item
        %strong
          Wochenrabatt 17%, Monatsrabatt 40%

    %p.text-green{:style => 'margin-top: 1em'}
      Wir freuen uns, wenn wir Ihr Interesse für die Ferienwohnung wecken konnten. Ihre Fragen bzw. Anfragen können Sie per Telefon, Fax oder E-Mail an uns richten:
      Tel.:  05533 / 1514 | E-Mail:
      %a{:href => "mailto:fewo@voglerhof.de"}
        fewo@voglerhof.de
.row.justify-content-md-center.m-top-80
  .col-lg-8
    %h2.text-center.text-yellow Kalender
    .loading{:style => "display:none"}
      %svg.spinner{:height => "65px", :viewbox => "0 0 66 66", :width => "65px", :xmlns => "http://www.w3.org/2000/svg"}
        %circle.path{:cx => "33", :cy => "33", :fill => "none", :r => "30", "stroke-linecap" => "round", "stroke-width" => "6"}

    .calendar
      -# = render partial: "calendar", locals: {events: @calendar_events}

.anfrage-modal-container
  = render partial: "anfrage_modal"



:javascript
  $(document).ready( function() {
    $(".loading").toggle();
    $(".calendar").toggle();

    $.ajax({
      type: 'GET',
      url: "/home/getcalendardates",
      dataType: 'script',
      success: function(data) {
        console.log("AirVogler loaded!");
      },
      error: function(data) {
        console.log("AirVogler Error!!");
      }
    });


    $(document).on('click', '.calendar-heading a', function(event) {
        event.preventDefault();
        $(".loading").toggle();
        $(".calendar").toggle();
    });

    $(document).on('hidden.bs.modal', '#anfrage', function () {
      $('.anfrage-modal-container').html("#{j render(:partial => 'home/anfrage_modal')}");
    })

    $(document).on('click', '.anfrage-button', function(event) {
      $('.daterange').daterangepicker({
        minDate: moment(),
        locale: {
          "format": "DD.MM.YYYY",
          "separator": " - ",
          "applyLabel": "Ok",
          "cancelLabel": "Abrechen",
          "fromLabel": "von",
          "toLabel": "bis",
          "customRangeLabel": "Custom",
          "weekLabel": "W",
          "daysOfWeek": [
              "Su",
              "Mo",
              "Tu",
              "We",
              "Th",
              "Fr",
              "Sa"
          ],
          "monthNames": [
              "Januar",
              "Februar",
              "März",
              "April",
              "Mai",
              "Juni",
              "Juli",
              "August",
              "September",
              "Oktober",
              "November",
              "Dezember"
          ],
          "firstDay": 1
      },
      "startDate": moment(),
      "endDate": moment(),
      "cancelButtonClasses": "btn-primary"
      }, function(start, end, label) {
        // console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
      });
    });


  });
