- content_for :title, "Hofladen | Voglerhof"

.row

  .col-lg-7.roomy-100.roomy-md{:style => "padding: 0 5% 15% 5%"}
    %h1.text-yellow.text-center-sm Der Hofladen
    .divider-left.center
    %p
      Sie finden ihn gleich rechts vor der Hofeinfahrt und werden vielleicht überrascht sein, in einem kleinen Dorf so ein leckeres biologisches Vollsortiment zu finden.
    %p
      Die eigenen Produkte sind Milch, Joghurt und viele verschiedene Sorten Wurst und Fleisch.
      Sie werden ergänzt von den regionalen Erzeugnissen unserer Biolandkollegen vom Marienhof und der Familie Bossow mit Gemüse, Kartoffeln, Eiern sowie frischem Brot und Brötchen vom Backhaus Wegener.
    %p
      Vom Naturkosthandel wird das Angebot so abgerundet, dass kaum ein Wunsch offen bleibt - besonders zu nennen ist das geschmackvolle Käsesortiment.
    %p
      Besonders am Herzen liegt dem Hofladenteam, das Sortiment mit den Kundinnen und Kunden zusammen weiter zu entwickeln, Anregungen und Wünsche werden gern aufgenommen. Bei vielen kleinen und großen Kunden gehört „Kühe-und-Trecker-Gucken“ mit zum Einkauf.
    %p
      Hier erleben sie Wachsen und Ernten der Lebensmittel im Jahreslauf!
    .row
      .col
        %h3.text-yellow2.mb-1.mt-4 Bildergalerie
        .gallery2-container
          .gallery2-item.hofladen-gallery-item
            = image_tag 'home/hofladen/hofladen1.jpg', :class => " float-left img-fluid  mb-3"
            .gallery2-hover
          .gallery2-item.hofladen-gallery-item
            = image_tag 'home/hofladen/hofladen2.jpg', :class => " float-left img-fluid  mb-3"
            .gallery2-hover
          .gallery2-item.hofladen-gallery-item
            = image_tag 'home/hofladen/hofladen5.jpg', :class => " float-left img-fluid  mb-3"
            .gallery2-hover
          .gallery2-item.hofladen-gallery-item
            = image_tag 'home/hofladen/hofladen3.jpg', :class => " float-left img-fluid  mb-3"
            .gallery2-hover




  .col-lg-2.bg-yellow2.hofladen-info-block#openhour
    .vertical-align-center{:style => "margin: -5% auto 0;"}
      - if @openhours.present?
        %div
          %h4
            %span.fi.flaticon-farm.fi-big
            &nbsp
            Öffnungszeiten
            .list-group.list-group-flush{:style => "margin:0"}
            - @openhours.each do |openhour|
              - if !openhour.geschlossen
                .list-group-item{:class => (openhour.spezial ? "open-at-important" : ""), :style => "font-weight: 300"}
                  - if openhour.without_time
                    = "#{openhour.tag}"
                  - else
                    = "#{openhour.tag}: #{openhour.start.strftime("%H:%M")} - #{openhour.ende.strftime("%H:%M")}"
              - else
                .list-group-item{:class => (openhour.spezial ? "open-at-important" : ""), :style => "font-weight: 300" }
                  = "#{openhour.tag}: geschlossen"
      %h4
        .span{:style => "margin-top: 1.5rem"} Einkaufs(wunsch)zettel
        .span{:style => "font-weight: 300; line-height: 1.4rem;margin-top: 0.5rem"}
          Wir möchten Ihnen anbieten, Ihren Einkauf so stressfrei wie möglich zu gestalten! Senden Sie uns Ihren Einkaufs(wunsch)zettel bis zum Vortag 14.00 Uhr an
          %a{:href => "mailto:barbara@voglerhof.de", :style => "color: #f3953e !important"}barbara@voglerhof.de,
          wir packen es in ein Kistchen. Dann können Sie sich noch dazu holen, was Ihnen gefällt und alles ist fertig...

      -if false #Setting["bst_inactive"] == false
        %h4{:class => ( @openhours.present? ? "m-top-80" : "")}
          %span.fi.flaticon-harvest.fi-big
          Brotbestellung
        %p.text-green{:style => "font-size: 1rem;line-height: 1.5rem"}
          Sie können online Ihr Brot vorbestellen und am gewünschen Tag bei uns im Hofladen abholen.
        %div.not-allowed
          = link_to new_brotbestellung_path, { class:[ ("btn btn-small"), (:disabled if Setting["bst_inactive"] == true) ] } do
            %i.fa.fa-angle-double-right{"aria-hidden" => "true"}
            bestellen
      - else
        %div.d-none.d-lg-block{:style => "height: 15rem;"}


  .col-lg-3.no-gutter{:style => "padding-top: 0"}
    .img-holder{:style => "height: 65rem"}
      .img-item{:style => "background-image: url(#{image_path("home/hofladen/hofladen6.jpg") })"}
