.ui.grid{:style => "padding-bottom: 3rem"}
  .ui.grid.container.stackable
    .sixteen.wide.column.row.first-section.roomy-70
      .twelve.wide.column
        = render 'carousel'
      .four.wide.column
        .info-box
          %h3 Infos &amp; Aktuelles
          .box-item
            %h4{:style => "margin-bottom:0.3rem"}
              %i.fa.fa-angle-double-right{"aria-hidden" => "true"}
              Herbstbrot
            %p.text-green
              Für kurze Zeit das Kartoffelbrot.
          .box-item
            %h4{:style => "margin-bottom:0.3rem"}
              %i.fa.fa-angle-double-right{"aria-hidden" => "true"}
              Herbstgemüse
            %p.text-green
              Frische Möhren vom Voglerhof jetzt im Hofladen erhältlich.
          .box-item
            %h4{:style => "margin-bottom:0.3rem"}
              %i.fa.fa-angle-double-right{"aria-hidden" => "true"}
              Herbstschlachtung
            %p.text-green
              Bio-Rind vom Voglerhof jetzt Fleischportionen vorbestellen.
          = link_to(home_hofladen_path, class: "btn btn-small") do
            %i.fa.fa-angle-double-right{"aria-hidden" => "true"}
            zum Hofladen
    .seven.wide.column.text-yellow.roomy-120
      %h1 Der Voglerhof
      .divider-left
      %h5
        Aus Überzeugung bio – schon seit 1989. Erfahren Sie mehr über den Hof und unsere Arbeitsweise.
      %h5
        Lorem ipsum dolor sit amet, consectetur adipisicing
      = link_to(home_fw_path, class: "btn btn-primary") do
        %i.fa.fa-angle-double-right{"aria-hidden" => "true"}
        mehr
    .nine.wide.column.roomy-80
      .img-holder.hover-effect
        .img-item.border-bottom.hover{:style => "background-image: url(#{image_path("home/content/content2.jpg") })"}
          .overlay
        .img-item.border-bottom{:style => "background-image: url(#{image_path("home/slider/biogas.jpg") })"}
          .overlay
        .img-item.border-bottom{:style => "background-image: url(#{image_path("home/content/content3.jpg")})"}
          .overlay
.ui.grid.bg-yellow2.roomy-90
  .ui.grid.container
    .ui.three.column.row.stackable
      .column
        %h2
          %span.fi.flaticon-harvest.fi-big
          Brotbestellung
        %p.text-green
          Brot und Brötchen schnell und unkompliziert vorbestellen – ganz bequem jetzt online!
        = link_to(home_hofladen_path, class: "btn btn-small") do
          %i.fa.fa-angle-double-right{"aria-hidden" => "true"}
          zur Brotbestellung
      .column
        %h2
          %span.fi.flaticon-farm-products.fi-big
          Hofladen
        %p.text-green
          Frische Milch oder frisches regionales Gemüse – biologisch! Das und noch mehr finden Sie bei uns im Hofladen.
        = link_to(home_hofladen_path, class: "btn btn-small") do
          %i.fa.fa-angle-double-right{"aria-hidden" => "true"}
          zum Hofladen
      .column
        %h2
          %span.fi.flaticon-farmer.fi-big
          Ausbildung
        %p.text-green
          Sucht Ihr einen Ausbildungsplatz in der Landwirtschaft mit abwechslungsreichen Betriebszweigen?
        = link_to(home_ausbildung_path, class: "btn btn-small") do
          %i.fa.fa-angle-double-right{"aria-hidden" => "true"}
          mehr Infos


.ui.grid.roomy-150
  .column.text-center.text-yellow
    %h1 Die Ferienwohnung
    .divider-center
    .img-holder.roomy-50
      .img-item.border-bottom{:style => "background-image: url(#{image_path("home/fewo/fewo1.jpg") })"}
      .img-item.border-bottom{:style => "background-image: url(#{image_path("home/fewo/fewo2.jpg") })"}
      .img-item.border-bottom{:style => "background-image: url(#{image_path("home/fewo/fewo3.jpg") })"}
      -# .img-item.border-bottom{:style => "background-image: url(#{image_path("home/fewo/fewo4.jpg") })"}
    %p
      In ein liebevoll restauriertes Fachwerkhaus befindet sich die Ferienwohnung mit bis zu sechs Schlafplätzen.
      %br
      Geräumig und gleichzeitig sehr gemütlich – Lust auf Ferien im Weserbergland?
    = link_to(home_fw_path, class: "btn btn-primary") do
      %i.fa.fa-angle-double-right{"aria-hidden" => "true"}
      Ferienwohnung buchen

.ui.grid{:style => 'margin-left: 0; margin-right: 0;'}
  #map.border-bottom{:style => 'height:550px; width: 100%'}




%script{:async => true, :defer => true, :src => "https://maps.googleapis.com/maps/api/js?key=AIzaSyCVrcwL7Rt-2hn6cNLW6GpZsh1SDbkSg6Q&callback=initMap"}


:javascript
  /* GOOGLE MAPS */
  function initMap() {

    var myLatLng = {lat: 51.9658124, lng: 9.5735824};

    var map = new google.maps.Map(document.getElementById('map'), {
      center: myLatLng,
      scrollwheel: false,
      zoom: 15
    });

    var marker = new google.maps.Marker({
      map: map,
      position: myLatLng,
    });
  }
