.row.first-section.roomy-40.max-width.mx-lg-5.mx-md-2
  .col-xl-9.col-lg-12.my-md-4
    = render 'carousel'
  .col-xl-3.col-lg-12.my-md-4.my-4
    .info-box.border-bottom
      %h3 Infos &amp; Aktuelles
      - @feeds.each do |feed|
        .box-item
          %h4{:style => "margin-bottom:0.3rem"}
            %i.fa.fa-angle-double-right{"aria-hidden" => "true"}
            = feed.title
          %p.text-green
            = feed.text

      -# = link_to(home_hofladen_path, class: "btn btn-small") do
        %i.fa.fa-angle-double-right{"aria-hidden" => "true"}
        zum Hofladen
.row.max-width.mx-lg-5.mx-md-2
  .col-lg-5.text-yellow.roomy-120.text-center-md.roomy-md.no-roomy
    %h1 Der Voglerhof
    .divider-left.center
    %h5
      Aus Überzeugung bio – schon seit 1989.
      %br
      Erfahren Sie mehr über den Hof und was es bei uns zu entdecken gibt. Und sowieso, warum eigentlich Bio?
    -# %h5
      Lorem ipsum dolor sit amet, consectetur adipisicing
    = link_to(home_hof_path, class: "btn btn-primary") do
      %i.fa.fa-angle-double-right{"aria-hidden" => "true"}
      mehr
  .col-lg-7.roomy-80.roomy-md
    .img-holder.hover-effect
      .img-item.hof-gallery-item.border-bottom.hover{:style => "background-image: url(#{image_path("home/content/content2.jpg") })"}
        .overlay
      .img-item.hof-gallery-item.border-bottom{:style => "background-image: url(#{image_path("home/hofladen/hofladen7.jpg") })"}
        .overlay
      .img-item.hof-gallery-item.border-bottom{:style => "background-image: url(#{image_path("home/content/trecker2.jpg")})"}
        .overlay
.row.bg-yellow2.roomy-90.justify-content-center
  .col-md-11
    .row
      .col-lg-4.col-md-12.text-center-sm.my-md-3.px-md-5
        - if Setting["bst_inactive"] == false
          %h2{:style => "line-height: 1.5"}
            %span.fi.flaticon-harvest.fi-big.extra-m-bottom
            %br
            Brotbestellung
          %p.text-green
            Brot und Brötchen schnell und unkompliziert vorbestellen – ganz bequem jetzt online!
          = link_to(home_hofladen_path, class: "btn btn-small") do
            %i.fa.fa-angle-double-right{"aria-hidden" => "true"}
            zur Brotbestellung
        - else
          %h2{:style => "line-height: 1.5"}
            %span.fi.flaticon-farm.fi-big.extra-m-bottom
            %br
            Ferienwohnung
          %p.text-green
            Sie suchen ein ruhiges und gemütliches Plätzchen zum „Pause machen“ – dann schauen Sie sich unsere Ferienwohnung.
          = link_to(home_fw_path, class: "btn btn-small") do
            %i.fa.fa-angle-double-right{"aria-hidden" => "true"}
            zur Ferienwohnung

      .col-lg-4.col-md-12.text-center-sm.my-md-3.px-md-5
        %h2{:style => "line-height: 1.5"}
          %span.fi.flaticon-farm-products.fi-big.extra-m-bottom
          %br
          Hofladen
        %p.text-green
          Frische Milch oder frisches regionales Gemüse – biologisch! Das und noch mehr finden Sie bei uns im Hofladen.
        = link_to(home_hofladen_path, class: "btn btn-small") do
          %i.fa.fa-angle-double-right{"aria-hidden" => "true"}
          zum Hofladen
      .col-lg-4.col-md-12.text-center-sm.my-md-3.px-md-5
        %h2{:style => "line-height: 1.5"}
          %span.fi.flaticon-farmer.fi-big.extra-m-bottom
          %br
          Ausbildung
        %p.text-green
          Sucht Ihr einen Ausbildungsplatz in der Landwirtschaft mit abwechslungsreichen Betriebszweigen?
        = link_to(home_ausbildung_path, class: "btn btn-small") do
          %i.fa.fa-angle-double-right{"aria-hidden" => "true"}
          mehr Infos


.row.roomy-150
  .col-md-12.text-center.text-yellow
    %h1.too-long Die Ferienwohnung
    .divider-center
    .img-holder.roomy-50{:style => "margin:0 -15px"}
      .img-item.border-bottom.fw-gallery-item{:style => "background-image: url(#{image_path("home/fewo/fewo1.jpg") })"}
      .img-item.border-bottom.fw-gallery-item{:style => "background-image: url(#{image_path("home/fewo/fewo10.jpg") })"}
      .img-item.border-bottom.fw-gallery-item{:style => "background-image: url(#{image_path("home/fewo/fewo2.jpg") })"}
    %p
      In einem liebevoll restaurierten Fachwerkhaus befindet sich die Ferienwohnung mit bis zu sechs Schlafplätzen.
      %br
      Geräumig und gleichzeitig sehr gemütlich – Lust auf Ferien im Weserbergland?
    = link_to(home_fw_path, class: "btn btn-primary") do
      %i.fa.fa-angle-double-right{"aria-hidden" => "true"}
      Ferienwohnung buchen

.row#eu.mb-5
  .col-md-12.text-center.text-yellow.pb-4
    .row.justify-content-center
      .col-md-4
        = image_tag 'home/eu_gross.png', :class => "img-fluid  mb-3 rounded ", :style => ""
      .col-md-5.text-left.ml-md-4
        %h3.mt-4
          Ökologischer/biologischer Landbau
        %p
          Mit dieser Maßnahme werden landwirtschaftliche Betriebe bei der Einführung
          von ökologischer Landwirtschaft und deren Beibehaltung unterstützt
        %h3.mt-4
          „Agrarumwelt- und Klimaschutzmaßnahmen"
        %p
          Mit diesen Maßnahmen werden landwirtschaftliche Betriebe bei der Erhaltung
          und Verbesserung der Umweltsituation unterstützt. Ziel ist eine nachhaltige
          und ressourcenschonende Bewirtschaftung in Bezug auf Artenvielfalt, Boden,
          Wasser und den Schutz des Klimas.
        %h3.mt-4
          Ausgleichszulage
        %p
          Mit dieser Maßnahme werden landwirtschaftliche Betriebe in Gebieten
          unterstützt, die aus erheblichen naturbedingten Gründen benachteiligt sind.
          Ziel ist die dauerhafte Nutzung durch die Landwirtschaft und der Erhalt von
          nachhaltigen Bewirtschaftungsformen.
        %h3.mt-5
          %a{:href => "http://www.eler.niedersachsen.de", :style => "font-size: 1.15rem", :rel => "noopener noreferrer", :target => "_blank"}
            www.eler.niedersachsen.de


.row
  .col.no-gutter
    #map.border-bottom{:style => 'height:550px; width: 100%'}




%script{:async => true, :defer => true, :src => "https://maps.googleapis.com/maps/api/js?key=AIzaSyC8qYDTWMyOOt9BKngSCwu_XoMGvArM0xI&callback=initMap"}

:javascript
  /* GOOGLE MAPS */
  function initMap() {

    var myLatLng = {lat: 51.9658124, lng: 9.5735824};

    var map = new google.maps.Map(document.getElementById('map'), {
      center: myLatLng,
      scrollwheel: false,
      zoom: 15
    });

    var marker = new google.maps.Marker({
      map: map,
      position: myLatLng,
    });
  }
