%head
  %title= "Seite konnte nicht gefunden werden |Voglerhof"

  = stylesheet_link_tag 'home', media: 'all', 'data-turbolinks-track' => true
  = javascript_include_tag 'application', 'data-turbolinks-track' => true
  = favicon_link_tag asset_path('favicon.ico')
  = display_meta_tags site: 'Voglerhof | Kirchbrak', description: "Aus Überzeugung bio – schon seit 1989. Erfahren Sie mehr über den Voglerhof und unsere Arbeitsweise.", keywords: "Voglerhof, Bio, Bioland, Kirchbrak, Ferienwohnung, Biogas, Ausbildung, Hofladen"
  = csrf_meta_tags
  %link{:href => "https://fonts.googleapis.com/css?family=Lato:300,300i,400,700|Arvo:400,700", :rel => "stylesheet"}

%body
  .row.max-width.mx-lg-5.mx-md-2.mt-md-5
    .col-lg-5.text-yellow.roomy-120.text-center-md.roomy-md.no-roomy
      %h1 404
      %br
      %h3
        Seite konnte nicht gefunden werden.
      %h2
        = link_to(root_path, {:style => "color: #f3953e"}) do
          %i.fa.fa-angle-double-right{"aria-hidden" => "true"}
          zurück zur Startseite
