.open-at
  %h3
    Hofladen
    %br/
    Öffnungszeiten:
  .ui.relaxed.divided.list{:style => "margin:0"}
    .item Freitag: 9 - 11 Uhr
    .item Samstag: 11 - 13 Uhr
%a.sub-logo{:href => "http://www.bioland.de"}
  = image_tag 'home/header/bioland.svg'
%a.sub-logo{:href => "http://www.bioland.de", :style => "right: 130px;"}
  = image_tag 'home/header/biosiegel.svg'
%header#head
  .logo
%nav#nav.box-shadow.ui.sticky{:style => 'top: 349px'}
  %ul
    %li
      = link_to "Voglerhof", {:controller => "home", :action => "hof" }
    %li
      = link_to "Biogasanlage", {:controller => "home", :action => "biogas" }
    %li
      = link_to "Ausbildung", {:controller => "home", :action => "ausbildung" }
    %li
      = link_to "Hofladen", {:controller => "home", :action => "hofladen" }
    %li
      = link_to "Ferienwohnung", {:controller => "home", :action => "fw" }
    %li
      %a{:href => "#"} Kontakt
