%nav#nav.box-shadow.ui.fixed
  %ul
    %li
      = image_tag "logo.png",{:style => "  position: relative; top: 12px;margin: 0 25px; width: 45px;"}
    %li
      = link_to "Voglerhof", { :action => "hof" }
    %li
      = link_to "Biogasanlage", { :action => "biogas" }
    %li
      = link_to "Ausbildung", { :action => "ausbildung" }
    %li
      = link_to "Hofladen", { :action => "hofladen" }
    %li
      = link_to "Ferienwohnung", { :action => "fw" }
    %li
      %a{:href => "#"} Kontakt
