- if @openhours.present?
  .open-at
    %h3
      Hofladen
      %br/
      Öffnungszeiten:
    .ui.list-group.list-group-flush{:style => "margin:0"}
      - @openhours.each do |openhour|
        - if !openhour.geschlossen
          .list-group-item{:class => (openhour.spezial ? "open-at-important" : "")}
            = "#{openhour.tag}: #{openhour.start.strftime("%H:%M")} - #{openhour.ende.strftime("%H:%M")}"
        - else
          .list-group-item{:class => (openhour.spezial ? "open-at-important" : "")}
            = "#{openhour.tag}: geschlossen"
%a.sub-logo{:href => "http://www.bioland.de"}
  = image_tag 'home/header/bioland.svg'
%a.sub-logo{:href => "http://www.bioland.de", :style => "right: 130px;"}
  = image_tag 'home/header/biosiegel.svg'
%header#head
  .logo
%nav#nav.box-shadow.ui.sticky{:style => 'top: 220px'}
  %ul
    %li
      = link_to "Voglerhof", {:controller => "home", :action => "hof" }
    %li
      = link_to "Biogasanlage", {:controller => "home", :action => "biogas" }
    %li
      = link_to "Ausbildung", {:controller => "home", :action => "ausbildung" }
    %li
      = link_to "Hofladen", {:controller => "home", :action => "hofladen" }
    %li
      = link_to "Ferienwohnung", {:controller => "home", :action => "fw" }
    %li
      %a{:href => "#"} Kontakt
