- if @openhours.present?
  .open-at.d-none.d-lg-block
    %h3
      Hofladen
      %br/
      Öffnungszeiten:
    .ui.list-group.list-group-flush{:style => "margin:0"}
      - @openhours.each do |openhour|
        - if !openhour.geschlossen
          .list-group-item{:class => (openhour.spezial ? "open-at-important" : "")}
            - if openhour.without_time
              = "#{openhour.tag}"
            - else
              = "#{openhour.tag}: #{openhour.start.strftime("%H:%M")} - #{openhour.ende.strftime("%H:%M")}"
        - else
          .list-group-item{:class => (openhour.spezial ? "open-at-important" : "")}
            = "#{openhour.tag}: geschlossen"
.sub-logo-container
  %a.sub-logo{:href => "http://www.bioland.de"}
    = image_tag 'home/header/bioland.svg'
  %a.sub-logo.bio-siegel{:href => "http://www.bioland.de"}
    = image_tag 'home/header/biosiegel.svg'
  %a.sub-logo{:href => "#"}
    = image_tag 'home/header/eu_bio_logo.svg'
  %a.sub-logo.sub-logo-down.eu-button{:href => "http://www.bioland.de", :style => "height: 83px"}
    = image_tag 'home/header/eu_logo_start.png'
%header#head
  .logo
%nav#nav.navbar.navbar-expand-lg.navbar-light.bg-light.stick-top{:style => 'top: 220px'}
  %div.navbar-toggler{"aria-controls" => "navbarNav", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarNav", "data-toggle" => "collapse"}
    .burger
      %span
      %span
      %span
    %span.menu-text
      Menü
  #navbarNav.collapse.navbar-collapse.justify-content-center
    %ul.navbar-nav
      %li.nav-item.d-none.d-lg-block.logo-fade
        = link_to(home_index_path, style: "padding: .75rem", class: "no-hover") do
          = image_tag "logo.png",{:style => "  position: relative;margin: 0 25px; width: 45px;", :class => "d-inline-block"}
      %li.nav-item
        = link_to "Voglerhof", {:controller => "home", :action => "hof"}, :class => "nav-link"
      %li.nav-item
        = link_to "Hofladen", {:controller => "home", :action => "hofladen" }, :class => "nav-link"
      %li.nav-item.d-block.d-sm-none
        = link_to "Öffnungszeiten", {:controller => "home", :action => "hofladen", :anchor => "openhour" }, :class => "nav-link"
      %li.nav-item
        = link_to "Ferienwohnung", {:controller => "home", :action => "fw" }, :class => "nav-link"
      %li.nav-item
        = link_to "Biogasanlage", {:controller => "home", :action => "biogas" }, :class => "nav-link"
      %li.nav-item
        = link_to "Ausbildung", {:controller => "home", :action => "ausbildung" }, :class => "nav-link"
      %li.nav-item
        = link_to "Kontakt", {:controller => "home", :action => "kontakt" }, :class => "nav-link"
