%head
  %title= content_for?(:title) ? yield(:title) : "Voglerhof | Kirchbrak"

  = stylesheet_link_tag 'home', media: 'all', 'data-turbolinks-track' => true
  = javascript_include_tag 'application', 'data-turbolinks-track' => true
  = favicon_link_tag asset_path('favicon.ico')
  = display_meta_tags site: 'Voglerhof | Kirchbrak', description: "Aus Überzeugung bio – schon seit 1989. Erfahren Sie mehr über den Voglerhof und unsere Arbeitsweise.", keywords: "Voglerhof, Bio, Bioland, Kirchbrak, Ferienwohnung, Biogas, Ausbildung, Hofladen"
  = csrf_meta_tags

  %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
  /[if lt IE 9] <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
  - if Rails.env.production?
    = render :partial => "layouts/analytics"
%body
  - if action_name == 'index'
    = render :partial => 'layouts/home/header'
  - else
    = render :partial => 'layouts/home/header_small'
  .content-container.bg-green.container-fluid{:style => (action_name == 'index' ? "margin-top: 215px" : "margin-top: 62px")}
    = yield
    .footer{:style => (action_name == 'index' || action_name == 'ausbildung' || action_name == 'hofladen' || action_name == 'kontakt' ? "margin-top: 0px" : "margin-top: 200px; z-index: 9999")}
      = render :partial => 'layouts/home/footer'
  .cookie-notice.fixed-bottom
    %span
      Um unsere Webseite für Sie optimal zu gestalten und fortlaufend verbessern zu können, verwenden wir Cookies. Durch die weitere Nutzung der Webseite stimmen Sie der Verwendung von Cookies zu.
      Weitere Informationen zu Cookies erhalten Sie in unserer
      = link_to "Datenschutzerklärung", {:controller => "home", :action => "kontakt" }
    %span.btn.btn-small.btn-primary.float-right.agree OK
