$(document).ready( function() {
// $( document ).on('turbolinks:load', function() {

    var vWidth        = $(window).width();
    var nav           = $('.stick-top')
    var navHeight     = nav.outerHeight();
    var headerHeight  = $('#head').outerHeight();
    var openAt        = $('.open-at');
    var contentCont   = $('.content-container');

    function isMobile() {
       if(vWidth <= 992) {
         return true;
       } else {
         return false;
       }
    }

    $('.agree').click(function(){
      $('.cookie-notice').slideToggle(300,function(){$(this).remove()});
      Cookies.set('cookieAccept', true, { expires: 7 });
    });

    if (Cookies.get('cookieAccept')) {
      $('.cookie-notice').remove();
    }

    $(window).scroll(function(){
        if( $(window).scrollTop() > headerHeight ) {
            nav.css({position: 'fixed', top: '0px'});
            openAt.attr("style", "display: none !important");
            contentCont.css( "padding-top",  navHeight );
            nav.addClass('box-shadow')
        } else {
            nav.css({position: 'relative', top: '220px'});
            openAt.attr(isMobile() ? ("style", "display: none !important") : ("style", "display: block !important"));
            contentCont.css( "padding-top", 0 );
            nav.removeClass('box-shadow')
        }
    });

    $(window).scroll();

    $('#carousel').slick({
        infinite: true,
        slidesToShow: 1,
        slidesToScroll: 1,
        dots: false,
        arrows: true,
        autoplay: true,
        autoplaySpeed: 4000,
        adaptiveHeight: true,
        prevArrow: '<button type="button" class="slick-prev"></button>',
        nextArrow: '<button type="button" class="slick-next"></button>'
    });

    $('#carousel2').slick({
        prevArrow: '<button type="button" class="slick-prev"></button>',
        nextArrow: '<button type="button" class="slick-next"></button>'
    });


    $('.img-holder').mouseenter(function(){
      $('.img-item').removeClass('hover');
    }).mouseleave(function(){
      // $( ".img-item" ).first().addClass( "hover" );
    });



    $('.fw-gallery-item').click( function(event){

      var index = $( ".fw-gallery-item" ).index( this );

      $.magnificPopup.open({
        items: [
          {src: '<%= image_path("home/fewo/fewo1.jpg") %>'},
          {src: '<%= image_path("home/fewo/fewo2.jpg") %>'},
          {src: '<%= image_path("home/fewo/fewo4.jpg") %>'},
          {src: '<%= image_path("home/fewo/fewo5.jpg") %>'},
          {src: '<%= image_path("home/fewo/fewo6.jpg") %>'},
          {src: '<%= image_path("home/fewo/fewo7.jpg") %>'},
          {src: '<%= image_path("home/fewo/fewo8.jpg") %>'},
          {src: '<%= image_path("home/fewo/fewo9.jpg") %>'},
          {src: '<%= image_path("home/fewo/fewo10.jpg") %>'},
          {src: '<%= image_path("home/fewo/fewo11.jpg") %>'},
          {src: '<%= image_path("home/fewo/fewo12.jpg") %>'},
          {src: '<%= image_path("home/fewo/fewo13.jpg") %>'},
          {src: '<%= image_path("home/fewo/fewo14.jpg") %>'},
          {src: '<%= image_path("home/fewo/fewo15.jpg") %>'},
          {src: '<%= image_path("home/fewo/fewo16.jpg") %>'}
        ],
        type: 'image',
        // mainClass: 'mfp-zoom-in',
        gallery:{
          enabled: true
        },
        image: {
          verticalFit: true
        },
        removalDelay: 300, //delay removal by X to allow out-animation
        callbacks: {
          beforeOpen: function() {
            // just a hack that adds mfp-anim class to markup
             this.st.image.markup = this.st.image.markup.replace('mfp-figure', 'mfp-figure mfp-with-anim');
             this.st.mainClass = 'mfp-zoom-in';
          }
        },
      },index)

    });

  });
