= form_for @kategory, :html => {:class => 'ui form' } do |f|
  - if @kategory.errors.any?
    #error_explanation
      %h2= "#{pluralize(@kategory.errors.count, "error")} prohibited this kategory from being saved:"
      %ul
        - @kategory.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :name
    = f.text_field :name
  .field
    .ui.checkbox
      = f.check_box :aktiv, :class => 'checkbox'
      = f.label :aktiv
  .actions
    = link_to 'Zurück', kategories_path, :class  => 'ui button red basic'
    = f.submit 'Speichern', class: "button ui green basic"
