%h1 Kategorien
= link_to 'Neue Kategorie', new_kategory_path, class: 'button ui green basic'

%table.table.ui
  %thead
    %tr
      %th Name
      %th Aktiv
      %th Brotbestellung
      %th
      %th
      %th

  %tbody
    - @kategories.each do |kategory|
      %tr
        %td= kategory.name
        %td= check(kategory.aktiv)
        %td= check(kategory.brotbestellung)
        %td= link_to 'Zeigen', kategory
        %td= link_to 'Bearbeiten', edit_kategory_path(kategory)
        %td= link_to 'Löschen', kategory, method: :delete, data: { confirm: 'Kategorie wirklich löschen?' }

%br

