%p#notice= notice

%p
  %b Name:
  = @kategory.name
%p
  %b Aktiv:
  = check(@kategory.aktiv)

= link_to 'Zurück', kategories_path, class:'ui button red basic'
= link_to 'Bearbeiten', edit_kategory_path(@kategory), class:'ui button green basic'
