%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Voglernest
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'backend'
    = csrf_meta_tags
  %body
    .ui.fixed.menu
      .ui.container
        %a.header.item{:href => "/admin"}
          =image_tag "logo.png", :class => 'logo'
          VoglerhofCenter
        .ui.simple.dropdown.item
          Ferienwohung
          %i.dropdown.icon
          .menu{:style => 'width: 155px'}
            .ui.simple.dropdown.item
              Ferienwohungen
              %i.dropdown.icon
              .menu
                = link_to 'Liste', fewos_path, class: 'item'
                = link_to 'Neu', new_fewo_path, class: 'item'
            .ui.simple.dropdown.item
              Mieter
              %i.dropdown.icon
              .menu
                = link_to 'Liste', mieters_path, class: 'item'
                = link_to 'Neu', new_mieter_path, class: 'item'
            .ui.simple.dropdown.item
              Reservierungen
              %i.dropdown.icon
              .menu
                = link_to 'Liste', bookings_path, class: 'item'
                = link_to 'Neu', new_booking_path, class: 'item'
            = link_to 'Anfragen', anfrages_path, class: 'item'

        .ui.simple.dropdown.item
          Brotbestellung
          %i.dropdown.icon
          .menu
            = link_to 'Brotsorten', brotsortes_path, class: 'item'
            = link_to 'Brotkategorien', brottyps_path, class: 'item'
            = link_to 'Bestellscheine', brotbestellscheins_path, class: 'item'
            = link_to 'Bestellungen', brotbestellungs_path, class: 'item'
        = link_to 'Öffnungszeiten', openhours_path, class: 'item'
        = link_to 'Infos / Aktuelles', feeds_path, class: 'item'
        = link_to 'Einstellungen', settings_path, class: 'item'
        - if current_user
          .right.menu
            %a.item
              %i.user.icon
              = current_user.name
            =link_to "Logout", logout_path, class: "item"

    .ui.main.container
      - if flash[:notice]
        .ui.message
          = flash[:notice]

      = yield
