%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Voglerhof | Kirchbrak
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'backend'
    = csrf_meta_tags
    = favicon_link_tag asset_path('favicon.ico')
    - if Rails.env.production?
      = render :partial => "layouts/analytics"
  %body
    .ui.fixed.menu.no-print
      .ui.container
        %a.header.item{:href => "/admin"}
          =image_tag "logo.png", :class => 'logo'
          VoglerhofCenter
        .ui.simple.dropdown.item
          Ferienwohung
          %i.dropdown.icon
          .menu{:style => 'width: 155px'}
            = link_to 'Übersicht', dashboard_bookings_path, class: 'item'
            .ui.simple.dropdown.item
              Ferienwohungen
              %i.dropdown.icon
              .menu
                = link_to 'Liste', fewos_path, class: 'item'
                = link_to 'Neu', new_fewo_path, class: 'item'
            .ui.simple.dropdown.item
              Mieter
              %i.dropdown.icon
              .menu
                = link_to 'Liste', mieters_path, class: 'item'
                = link_to 'Neu', new_mieter_path, class: 'item'
            .ui.simple.dropdown.item
              Buchungen
              %i.dropdown.icon
              .menu
                = link_to 'Liste', bookings_path, class: 'item'
                = link_to 'Neu', new_booking_path, class: 'item'
            = link_to 'Anfragen', anfrages_path, class: 'item'

        .ui.simple.dropdown.item
          Shop
          %i.dropdown.icon
          .menu
            = link_to 'Übersicht', brotbestellungs_path, class: 'item'
            = link_to 'Bestellscheine', brotbestellscheins_path, class: 'item'
            = link_to 'Packzettel', packzettel_path, class: 'item'
            .ui.simple.dropdown.item.flex
              Einstellungen
              %i.dropdown.icon
              .menu
                = link_to 'Produkte', produkts_path, class: 'item'
                = link_to 'Kategorien', kategories_path, class: 'item'
                = link_to "Standards", standard_path, :class => "item"

        .ui.simple.dropdown.item
          Brotbestellung
          %i.dropdown.icon
          .menu
            = link_to 'Übersicht', brotbestellungs_path, class: 'item'
            = link_to 'Bestellscheine', brotbestellscheins_path, class: 'item'
            = link_to 'Packzettel', packzettel_path, class: 'item'
            .ui.simple.dropdown.item
              Einstellungen
              %i.dropdown.icon
              .menu
                = link_to 'Brotsorten', brotsortes_path, class: 'item'
                = link_to 'Brotkategorien', brottyps_path, class: 'item'
                = link_to "Standards", standard_path, :class => "item"

        = link_to 'Öffnungszeiten', openhours_path, class: 'item'
        = link_to 'Infos / Aktuelles', feeds_path, class: 'item'
        - if current_user
          .right.menu
            %a.item
              %i.user.icon
              = current_user.email
            =link_to "Logout", logout_path, class: "item"

    .ui.main.container
      - if flash[:notice]
        .ui.message
          = flash[:notice]

      = yield
    %script{:src => "https://code.iconify.design/1/1.0.3/iconify.min.js"}
